@import '~styles/common/mixin';

.onePager {
  position: relative;

  .sectionContainer {
    align-content: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    width: 100vw;

    .sectionSideBar {
      height: 170px;
      margin-bottom: 0;
      overflow: hidden;
      position: relative;
      width: 100vw;

      @include desktop {
        height: 100vh;
        margin-bottom: 0;
        margin-left: 7%;
        width: 300px;
      }

      .navigation {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        ul {
          list-style: none;

          li {
            font-size: 14px;

            @include desktop {
              font-size: 18px;
            }

            strong {
              font-size: 18px;
              @include desktop {
                font-size: 22px;
              }
            }
          }
        }
      }

      .sectionSideBarBase {
        height: 85%;

        @include desktop {
          height: 100vh;
          width: 85%;
        }
      }

      .sectionSideBarOverlay {
        height: 85%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 11%;
        width: 100%;

        @include desktop {
          height: 100vh;
          left: 5%;
          top: 0;
          width: 85%;
        }
      }
    }

    .separator {
      order: 2;
      height: 1px;
      width: 100%;

      @include desktop {
        display: none;
      }
    }

    &.sectionOne {
      .sectionOneLogo {
        height: fit-content;
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 300px;

        @include smallTablet {
          top: 50%;
        }

        img {
          max-height: 188px;
        }

        p {
          font-size: 26px;
          text-align: center;
        }
      }

      .sectionOneBgGray {
        background-color: #999;
      }

      .sectionOneBgGreen {
        background-color: aquamarine;
      }
    }

    &.sectionTwo {
      background-color: $black;

      .sectionSideBar {
        order: 3;

        @include desktop {
          order: 1;
        }

        .sectionSideBarBase {
          background-color: #999;
        }

        .sectionSideBarOverlay {
          background-color: #E4CCFF;
        }
      }

      .sectionContent {
        height: 71%;
        margin: 0 auto;
        padding: 30px 0 0;
        width: 90%;

        @include desktop {
          align-content: center;
          display: flex;
          flex: 0 0 55%;
          flex-wrap: nowrap;
          flex-wrap: wrap;
          height: 96%;
          justify-content: space-between;
          order: 2;
        }
    
        .imgWrapper {
          border: 8px solid white;
          border-radius: 20px;
          display: block;
          height: 64%;
          margin: 0 auto;
          overflow: hidden;
          width: 90%;

          @include desktop {
            height: fit-content;
            width: fit-content;
          }

          img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;

            @include desktop {
              height: 590px;
              margin: 0;
              width: 430px;
            }
          }
        }

        .sectionContentText {
          color: $white;
          font-size: 18px;
          margin: 0 auto;
          padding: 30px 0;
          width: 90%;
          
          @include desktop {
            align-content: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 22px;
            justify-content: center;
            margin: 0;
            width: 30%;
          }
        }
      }
    }

    &.sectionThree {
      align-content: space-between;
      background-color: #fbc0ff;

      .sectionSideBar {
        order: 3;

        @include desktop {
          order: 1;
        }

        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: #F5B7FF;
        }
      }

      .sectionContent {
        align-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        height: 74%;
        margin: 0 auto;
        position: relative;
        width: 90%;

        @include desktop {
          align-content: center;
          height: 100%;
          order: 2;
          width: 60%;
        }

        p,
        img {
          display: block;
          width: 100%;
        }

        .iconographyTitle {
          font-size: 20px;

          @include desktop {
            font-size: 24px;
          }
        }

        .iconography {
          .iconographyLabelTwo {
            display: block;
            padding-top: 5px;
            text-align: right;
            width: 100%;
          }
        }

        .sectionContentText {
          font-size: 18px;
          margin-bottom: 0;

          @include desktop {
            font-size: 22px;
          }
        }
      }
    }

    &.sectionFour {
      align-content: space-between;
      background-color: rgb(250, 183, 251); //#E6E6E6;

      .sectionSideBar {
        order: 3;

        @include desktop {
          order: 1;
        }

        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: #F5B7FF;
        }
      }

      .sectionContent {
        margin: 0 auto;
        padding: 140px 0 0;
        width: 90%;

        @include desktop {
          order: 2;
          width: 60%;
        }

        .backgroundImage {
          display: block;
          margin: 0 auto;
          opacity: 0.6;
          width: 100%;
        }

        .productsCollage {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;

          .productsCollageItem {
            border: 10px solid $white;
            box-shadow: 2px 2px 3px $color-cc;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            
            &:nth-child(even) {
              height: 200px;
              width: 80%;

              @include desktop {
                height: 380px;
                width: 500px;
              }
            }

            &:nth-child(odd) {
              height: 280px;
              width: 50%;

              @include desktop {
                height: 380px;
                width: 500px;
              }
            }

            &:first-child {
              left: 32%;
              top: 29%;

              @include desktop {
                top: 39%;
              }
            }
            &:nth-child(2) {
              left: 56%;
              top: 30%;
            }
            &:nth-child(3) {
              left: 66%;
              top: 30%;

              @include desktop {
                left: 76%;
                top: 36%;            
              }
            }
            &:nth-child(4) {
              left: 44%;
              top: 38%;

              @include desktop {
                top: 48%;
              }
            }
            &:nth-child(5) {
              left: 33%;
              top: 60%;

              @include desktop {
                left: 69%;
                top: 69%;
              }
            }
            &:nth-child(6) {
              left: 57%;
              top: 60%;

              @include desktop {
                left: 47%;
                top: 75%;
              }
            }
            &:nth-child(7) {
              left: 62%;
              top: 63%;

              @include desktop {
                left: 79%;
                top: 83%;            
              }
            }

            &:nth-child(8) {
              @include desktop {
                left: 35%;
                top: 73%;
              }
            }

            &:nth-child(9) {
              @include desktop {
                left: 55%;
                top: 63%;
              }
            }

            img {
              height: 100%;
              object-fit: cover;
              object-position: center;
              width: 100%;
            }
          }
        }

        .sectionContentText {
          font-size: 18px;
          margin-top: 60px;

          @include desktop {
            font-size: 22px;
            margin-top: 40px;
          }
        }
      }
    }

    &.sectionFive {
      align-content: space-between;
      background-color: #E6E6E6;

      .sectionSideBar {
        order: 3;

        @include desktop {
          order: 1;
        }

        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: #154733;
        }
      }

      .sectionContent {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 74%;
        margin: 0 auto;
        position: relative;
        width: 90%;

        @include desktop {
          align-content: center;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          order: 2;
          padding: 0;
          width: 60%;
        }

        .warsawAssetDefault {
          display: block;
          margin: 20px auto 0;
          width: 100%;
        }

        .warsawAssets {
          height: 80vh;
          left: 0;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 100%;

          @include desktop {
            height: 100vh;
          }

          .warsawAsset {
            min-width: 180px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
              border: 10px solid $white;
              box-shadow: 2px 2px 3px $color-cc;
              height: 100%;
              object-fit: cover;
              object-position: center;
              width: 100%;
            }
          }
        }

        .sectionContentText {
          background-color: rgba(232, 230, 230, 0.9);
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          font-size: 18px;
          margin-top: 5px;
          padding: 5px 0;
          width: 100%;
          
          &:before {
            background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3), transparent);
            bottom: -3px;
            content: "";
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 80%;
          }

          @include desktop {
            font-size: 22px;
          }

          &.sectionContentTextDivider {
            margin-bottom: 50px;
          }
        }
      }
    }

    &.sectionSix {
      align-content: space-between;
      background-color: #E6E6E6;

      .sectionSideBar {
        order: 2;

        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: #FEE123;
        }
      }

      .sectionContent {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 74%;
        margin: 0 auto;
        width: 90%;

        @include desktop {
          align-content: center;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          order: 2;
          padding: 0;
          width: 60%;
        }

        img {
          display: block;
          margin: 20px auto 0;
          width: 100%;
        }

        .sectionContentText {
          font-size: 18px;
          margin-top: 5px;

          @include desktop {
            font-size: 22px;
          }

          a br {
            @include desktop {
              display: none;
            }
          }

          &.sectionContentTextDivider {
            margin-bottom: 50px;
          }
        }
      }
    }

    &.sectionSeven {
      align-content: space-between;
      background-color: #E6E6E6;

      .sectionSideBar {
        order: 2;

        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: #FEE123;
        }
      }

      .sectionContent {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 74%;
        margin: 0 auto;
        width: 90%;

        @include desktop {
          align-content: center;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          order: 2;
          padding: 0;
          width: 60%;
        }

        img {
          display: block;
          margin: 20px auto 0;
          width: 100%;
        }

        .sectionContentText {
          font-size: 18px;
          margin-top: 5px;

          @include desktop {
            font-size: 22px;
          }

          &.sectionContentTextDivider {
            margin-bottom: 50px;
          }
        }
      }
    }

    &.sectionEight {
      align-content: flex-end;
      background-color: #E6E6E6;

      .sectionSideBar {
        .sectionSideBarBase {
          background-color: #757575;
        }

        .sectionSideBarOverlay {
          background-color: aquamarine;
        }
      }

      .sectionEightLogo {
        height: fit-content;
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 300px;

        @include smallTablet {
          top: 50%;
        }

        img {
          max-height: 188px;
        }

        p {
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }

  .carousel {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

    :global(.slick-track) {
      display: flex;

      .carouselElement {
        height: 250px;
        overflow: hidden;

        @include desktop {
          height: 550px;
        }

        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
          margin: 0 !important;
          width: 100%;

          @include desktop {
            height: auto;
          }
        }
      }
    }
  }
}