/*------------------
     Variable
-------------------*/
@charset 'UTF-8';
@use 'sass:math';
// @description:  变量类, 统一管理通用的颜色, 字号, 间距;
// 模块间的标准间距
// --------------------------------------------------

// Color
// --------------------------------------------------
$color-33: #333; // 字体主色, 小面积使用, 多用于导航栏标题, ICON 和昵称等
$color-66: #666; // 字体, ICON 主色, 大面积使用, 多用于选择的 ICON 和文案,文章内容等
$color-99: #999; // 字体, ICON 辅色, 多用于副标题, 提示文案, ICON, 个人简介等.
$color-cc: #ccc; // 字体, 提示色，如placeholder.
$color-07: #070707;
$color-93: #939799;
$color-9E: #9e9e9e;
$color-74: #749ac2;
$color-ff: #E02F2F;
$color-DA: #dadcde;
$color-E3: #e3e3e3;
$color-F7: #f7f8fa;
$color-7F: #f7f7f7;
$color-64: #004b64;
$color-F1: #f1fafa;
$color-F2: #f2f2f2;
$color-FA: #e6fafa;
$color-17: #000c17;
$color-9c: #9cbfd9;
$color-3d: #00263d;
$color-7E: #7c7d7e;
$color-53: #515153;
$color-8F: #b9b8bf;
$color-CF: #c4c9cf;
$color-5E: #5e6365;
$color-4F: #4f4149;
$color-E7: #e0e5e7;
$color-BF: #00c0bf;
$color-4A: #4a4a4a;
$color-0B: #070a0b;
$color-1E: #ff231e;
$color-A5: #a5a5a5;
$color-79: #797979;
$color-97: #979797;
$color-D9: #D9D9D9;
$color-35: #353c54;
$color-AC: #acdfe2;
$color-AD: #ade0e5;
$color-D2: #d2d2d2;
$color-F4: #f4f4f4;
$color-04: #040404;
$color-DB: #DBDBDB;
$color-9B: #9BA6B2;
$color-0A: #0a0c0e;
$color-1F: #F1F0EF;
$color-26: #264473;
$color-5A: #5A5A5A;
$color-E8: #808E88;
$color-D7: #D7D2CE;
$color-C5: #C5C5C5;

$light-grey: #d0d0d0;
$med-gray: #939799;
$dark-gray: #9b9b9b;
$solitude: #f0f1f2;
$dark-navy-blue: #000f16;
$prim: #d6d3d2;
$trout: #54585a;
$e7e-gray: #e7e7ee;
$ivory: #f3f3f2;
$blue-927: #0f1927;
$mid-night-dark: #101822;
$orange: #d38f6a;
$blue-926: #0e1926;
$blue-63C: #00263c;
$yellow-f0e: #f0e4bb;
$blue-99b: #99b1bf;
$pink-ffe: #ffede5;
$red-422: #422930;
$blue-dawn: #BBC7D6;
$orange-dawn: #CCC1B3;
$heavy-gray: #151515;

$firstkiss: #c7b1a7;
$sunburst: #bfab67;
$airspace: #2e4e61;
$error-red: #e02f2f;

// fixed font-color
$font-color-dark: #363c54; // 字体颜色, 用于副标题等
$font-color-black: #040b29; // 字体颜色, 用于标题等
$font-color-grey: #696d7f; // 字体颜色, ICON 主色
$font-color-light: #9b9da9; // 字体颜色, ICON 辅色, 多用于副标题, 提示文案, ICON, 个人简介等.
$font-color-disable: #cdced4; // 字体颜色, disable
$font-color-alert: #ef7575; // 字体颜色, 用于警告
$font-color-light-blue: #00bcbc; // 用于链接，文字按钮等
$font-color-black-pearl: #000f16; // Regular website black color
$font-color-6b: #6b6b6b;
$font-color-8e: #8e8e8e;
// 规定主体色, 通过darken和lighten来控制颜色变化;

// Background
// --------------------------------------------------
$body-bg: #f0f0f0;
$body-bq-F8: #f8f8f8;
$body-bq-F9: #f9f9f9;
$body-bq-F3: #f3f3f3;
$neo-blue: #00bebe;
$neo-middle-blue: #b7e8ea;
$neo-light-blue: #f0fcfc;
$neo-disable-bg-fixed: #f7f7f8;
$neo-disable-bg: #ddd;
$body-bg-f5: #f5f5f5; // 区分板块的底色
$white: #fff;
$black: #000000;
$neo-baas-background: #f9f9f9;
$background-4e: #173a4e;
$background-ed: #f2f3ed;
$background7d: #7d7d7d;
$background-c1b: #C1B6C0;
$background-f1: #F1F1F1;
// border
$border-color-dd: #ddd; // 边框颜色，区分区块
$border-color-e5: #e5e5e5; // 边框颜色，区分区块
$border-color-e3: #e3e3e3;
$border-color-f5: #f5f5f5;
$border-color-ee: #eeeeee;
$border-color-d8: #d8d8d8;
$border-color-eb: #ebebeb;
$border-color-0d: #0d0d0d;

$border-color-fixed: #f0f1f2;

// Font
// --------------------------------------------------
$font-size-base: 14px;
$baseRem: math.div(375, 20);
$font-family-base: 'BlueSkyStandard', 'Helvetica Neue', Helvetica, Arial,
  'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei',
  'WenQuanYi Micro Hei', sans-serif;
$font-family-number: 'STHeitiSC-Medium';
$font-family-number-thin: 'STHeitiSC-Light';
//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429; // 20/14

// fixed font-size
$font-size-nano: 10px;
$font-size-smaller: 12px;
$font-size-base-fixed: 14px;
$font-size-larger: 16px;
$font-size-sub-title: 18px;
$font-size-title: 24px;

// font-weight
$font-weight-medium: 600;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-lighter: 100;
$font-weight-bold: 700;
$font-weight-ordinary: 500;

// theme override
//
//
// @element: "variable";
// @import (multiple) 'common/lib/css/theme/theme.config';
// .loadUIOverrides();

// header & footer
$header-height: 50px;
$footer-height: 140;

// margin
$to-frame-width: 36; // 内容整体的边距
$fixed-to-frame-width: 25px; // 内容整体固定边距

// media query
$block-spacing: 1.5rem !default;

// Responsiveness borrowed from https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass#L53-L64
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$small-screen-mobile-width: 400px !default;
$small-screen-mobile-height: 640px !default;

$smallTablet: 720px !default;
$tablet: 768px !default;
// 1024px container
$desktop: 960px + (2 * $gap) !default;
// 1280px container
$widescreen: 1152px + (4 * $gap) !default;
$widescreen-enabled: true !default;
// 1440px container
$fullhd: 1344px + (3 * $gap) !default;
$fullhd-enabled: true !default;
// 1920px container
$fullwide: 1824px + (3 * $gap) !default;
$fullwide-enabled: true !default;
// 2200px +
$ultrawide: 2004 + (3 * $gap) !default;
$ultrawide-enabled: true !default;

$mobile-width: 1024px; //1280px;

//grid vars
$sm-gutter: 20px;
$lg-gutter: 40px;

$sm-margin: 30.25px;
$md-margin: 55px;
$lg-margin: 101.67px;
$xl-margin: 110px;


